<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqc.dao.ProductDao">
	<select id="findProductByProductTypeId" parameterType="int" resultType="hashmap">
		SELECT * from product,product_type where product.product_type_id=product_type.product_type_id and product.product_type_id=#{product_type_id}
	</select>

	<select id="findAllProduct" resultType="hashmap">
		SELECT * from product,product_type WHERE product.product_type_id=product_type.product_type_id
	</select>

	<select id="findAllProductType" resultType="hashmap">
		SELECT * from product_type
	</select>

	<select id="findDeailProductByDid" parameterType="int" resultType="hashmap">
		SELECT * FROM `product` WHERE product_dimg_id = #{product_dimg_id}
	</select>

	<select id="findDetailByDid" parameterType="int" resultType="hashmap">
		SELECT
			*
		FROM
			`product` p,
			`product_dimg` d
		WHERE
			d.product_dimg_id = p.product_dimg_id
		AND p.product_dimg_id = #{product_dimg_id}
	</select>

	<select id="findDeailImg" parameterType="int" resultType="hashmap">
		SELECT * FROM `product_dimg` WHERE product_dimg_id = #{product_dimg_id}
	</select>

	<insert id="addProductReview" parameterType="hashmap">
		INSERT INTO `mall`.`product_review` (`product_id`, `product_rating`, `product_review`, `username`, `email`) VALUES (#{product_id}, #{product_rating}, #{product_review}, #{username}, #{email});
	</insert>

	<select id="findProfuctAddInfo" parameterType="int" resultType="hashmap">
		SELECT * FROM `product_addinfo` where product_id=#{product_id}
	</select>

	<select id="findReviewByPid" parameterType="int" resultType="hashmap">
		select * from product_review where product_id=#{product_id} order by product_review_id desc limit 6
	</select>

	<select id="findReviewCountByPid" parameterType="int" resultType="int">
		select count(1) from product_review where product_id=#{product_id}
	</select>

	<select id="getRelateProductByPtId" parameterType="int" resultType="hashmap">
		SELECT * FROM `product` WHERE product_type_id =#{product_type_id} ORDER BY RAND() LIMIT 8
	</select>

	<insert id="addProductCard" parameterType="hashmap">
		INSERT INTO `mall`.`product_card` (`product_id`, `product_card_count`, `product_color_id`, `product_size_id`, `product_user_id`) VALUES (#{product_id}, #{product_card_count}, #{product_color_id}, #{product_size_id}, #{product_user_id})
	</insert>

	<select id="getProductByPid" parameterType="int" resultType="hashmap">
		SELECT * FROM `product` where product_id =#{product_id}
	</select>

	<select id="getProductCardByUid" parameterType="int" resultType="hashmap">
		SELECT * ,product.product_price*product_card.product_card_count as amount from product,product_card where product.product_id=product_card.product_id and product_user_id=#{uid} and product_cart_state = 0
	</select>

	<update id="updateCartCountByCid" parameterType="hashmap">
		UPDATE `mall`.`product_card` SET `product_card_count`=#{product_card_count}  WHERE `product_card_id`=#{product_card_id}
	</update>

	<insert id="addOrder" parameterType="hashmap">
		INSERT INTO `mall`.`product_order` (`product_user_id`, `product_order_address`, `product_order_name`, `product_order_telphone`,`product_order_total`,`product_order_createDate`) VALUES (#{product_user_id}, #{product_order_address}, #{product_order_name}, #{product_order_telphone},#{product_order_total},#{product_order_createDate})
	</insert>

	<select id="updatePay" parameterType="hashmap" resultType="Integer">
		update product_order set product_pay_state=1 ,product_pay_no=#{product_pay_no} where product_order_id=#{product_order_id}
	</select>

	<delete id="deleteCartByUid" parameterType="int">
		delete from product_card where product_user_id=#{product_user_id}
	</delete>

	<delete id="deleteCartByCid" parameterType="int">
		delete from product_card where product_card_id=#{product_card_id}
	</delete>

	<update id="updateCartStateAndPayNoByUid" parameterType="hashmap">
		update product_card set product_cart_state=1,product_pay_no=#{product_pay_no} where product_cart_state =0 and product_user_id=#{product_user_id}
	</update>

	<select id="getUserOrderDetailByUid" parameterType="int" resultType="hashmap">
		SELECT
			*, p.product_price * cd.product_card_count AS amount
		FROM
			product_card cd,
			product_color c,
			product_size s,
			product_order o,
			product p
		WHERE
			cd.product_color_id = c.product_color_id
		AND cd.product_size_id = s.product_size_id
		AND cd.product_id = p.product_id
		AND cd.product_cart_state = 1
		AND cd.product_user_id = o.product_user_id
		AND cd.product_pay_no = o.product_pay_no
		AND cd.product_user_id = #{product_user_id}
	</select>

	<select id="getOrderDetail" resultType="hashmap">
		SELECT
			*, p.product_price * cd.product_card_count AS amount
		FROM
			product_card cd,
			product_color c,
			product_size s,
			product_order o,
			product p
		WHERE
			cd.product_color_id = c.product_color_id
		AND cd.product_size_id = s.product_size_id
		AND cd.product_id = p.product_id
		AND cd.product_cart_state = 1
		AND cd.product_user_id = o.product_user_id
		AND cd.product_pay_no = o.product_pay_no
	</select>

	<update id="updateOrderByPid" parameterType="hashmap">
		update product_order set product_order_address=#{product_order_address},product_order_name=#{product_order_name},product_order_telphone=#{product_order_telphone},product_pay_state=#{product_pay_state},product_order_state=#{product_order_state} where product_pay_no=#{product_pay_no}
	</update>

	<select id="getProductPage" parameterType="hashmap" resultType="hashmap">
		SELECT * FROM `product` limit #{start},#{end}
	</select>

	<select id="getProductCount" resultType="int">
		select count(1) from product
	</select>

	<update id="updateProduct" parameterType="com.lqc.entity.Product">
		UPDATE `mall`.`product`
		SET `product_id` = #{product_id},
		 `product_name` = #{product_name},
		 `product_price` = #{product_price},
		 `product_img` = #{product_img},
		 `product_card_img` = #{product_card_img},
		 `product_describe` = #{product_describe},
		 `product_count` = #{product_count},
		 `product_type_id` = #{product_type_id},
		 `product_dimg_id` = #{product_dimg_id}
		WHERE
			(`product_id` = #{product_id})
		
	</update>

	<insert id="addProduct" parameterType="com.lqc.entity.Product">
		INSERT INTO `mall`.`product` (
				`product_name`,
				`product_price`,
				`product_img`,
				`product_card_img`,
				`product_describe`,
				`product_count`,
				`product_createtime`,
				`product_type_id`,
				`product_dimg_id`
			)
			VALUES
				(
					#{product_name},
					#{product_price},
					#{product_img},
					#{product_card_img},
					#{product_describe},
					#{product_count},
					#{product_createtime},
					#{product_type_id},
					#{product_dimg_id}
				);
			
	</insert>

	<delete id="deleteProductByPId" parameterType="int">
		delete from product where product_id=#{product_id}
	</delete>

	<insert id="insertDimg" parameterType="hashmap">
		insert into product_dimg values(null,#{product_dimg_id},#{product_detail_img})
	</insert>

	<select id="getDimg" resultType="hashmap">
		select * from product_dimg
	</select>

	<update id="updateDimg" parameterType="hashmap">
		update product_dimg set product_dimg_id=#{product_dimg_id},product_detail_img=#{product_detail_img} where product_dimgId=#{product_dimgId}
	</update>

	<delete id="deleteDimg" parameterType="int">
		delete from product_dimg where product_dimgId=#{product_dimgId}
	</delete>

	<insert id="insertAddinfo" parameterType="com.lqc.entity.AddInfo">
	INSERT INTO `mall`.`product_addinfo` (
		`product_id`,
		`product_weight`,
		`product_dimensions`,
		`product_materials`,
		`product_color`,
		`product_size`
	)
	VALUES
		(
			#{product_id},
			#{product_weight},
			#{product_dimensions},
			#{product_materials},
			#{product_color},
			#{product_size}
		);
	
	</insert>

	<update id="updateProductCount" parameterType="hashmap">
		update product_card set product_card_count=#{product_card_count}+product_card_count where product_user_id=#{product_user_id} and product_id=#{product_id};
	</update>

	<select id="getProductCartCount" parameterType="int" resultType="int">
		SELECT IFNULL(SUM(product_card_count),0) FROM product_card WHERE product_user_id=#{product_user_id}
	</select>

	<select id="sumOfCart" parameterType="int" resultType="BigDecimal">
		SELECT  SUM(product_card_count * product_price)
		FROM product_card
				 LEFT JOIN product on product.product_id = product_card.product_id and product_user_id=#{product_user_id};
	</select>

    <delete id="deleteProduct" parameterType="hashmap">
        DELETE from product_card WHERE product_user_id=#{user_id} and product_id=#{product_id};
    </delete>

    <insert id="addLikeProduct" parameterType="hashmap">
        insert into collection (product_id,user_id) values (#{product_id},#{user_id});
    </insert>

    <select id="getColByUid" parameterType="hashmap" resultType="hashmap">
        select p.product_card_img,p.product_name, p.product_dimg_id, p.product_type_id,p.product_id from product as p,collection as c where p.product_id=c.product_id and c.user_id=#{user_id}
    </select>

    <delete id="deleteProFroCol" parameterType="hashmap">
        delete from collection where product_id=#{product_id} and user_id=#{user_id};
    </delete>
</mapper>